<div class="row">
<div class="col-md-offset-2 col-md-8", style="color: white !important">

<div class= "box" style="background: rgba(0, 0, 0, .5); width: 100%; margin-top: 50px;">
<br>
<div style="margin-left: 50px; margin-right: 50px;">
<h2 style="text-align: center;">About </h2>
<br>

<p style="font-size: 15px;">The Blogpedia is an ambitious multimedia effort founded in 2017 to examine how technology will change life in the future for a massive mainstream audience.

Our original editorial insight was that technology had migrated from the far fringes of the culture to the absolute center as mobile technology created a new generation of digital consumers. Now, we live in a dazzling world of screens that has ushered in revolutions in media, transportation, and science. The future is arriving faster than ever.</p>




<br><br>

<p style="font-size: 15px;">
Blogpedia's mission is to empower the most talented web voices and their audiences. 

If you are a marketer looking for ways to connect your brand with blogpedia's influential audiences, please contact us at sales@blogpedia.com.

Interested in contributing to The Blogpedia? Check out our writer's <a href="#">guidelines</a>.
</p>
<br><br>

</div>
</div>
</div>
</div>





