<div class="row">
<div class="col-md-offset-2 col-md-8", style="color: white !important">

<div class= "box" style="background: rgba(0, 0, 0, .5); width: 100%; margin-top: 50px;">
<br>
<div style="margin-left: 50px; margin-right: 50px;">
<h2 style="text-align: center;">Contact Us </h2>
<br><br>
<h3><b>News Tips</b></h3>

<p>Got a news tip or inside information about a topic we covered? We’d love to hear from you. Please drop us a note at tips@blogpedia.herokuapp.com.</p>

<p>We respect anonymity; if you prefer to remain anonymous you can use this <a href="#">form</a>.</p>

<p>Please don’t use this email address to submit information about your company. We ask that you use the form instead.
</p>
<br><br>
<h3><b>Website Suggestions & Error Reports</b></h3>

<p>
If you are experiencing problems with the site, or if you have any suggestions as to how we can improve it, please email us at suggest@blogpedia.herokuapp.com.
</p>
<br><br>
<h3><b>
Advertise / Sponsorships</b></h3>

<p>
Please contact us directly at advertise@blogpedia.herokuapp.com.</p>

<p>
For large or unique campaigns please email us <a href="#">here</a> for requests-for-proposal and additional pricing information.
</p>
<br><br>
</div>
</div>
</div>
</div>