<div class="row">
<div class="col-md-offset-2 col-md-8", style="color: white !important">

<div class= "box" style="background: rgba(0, 0, 0, .5); width: 100%; margin-top: 50px;">
<br>
<div style="margin-left: 50px; margin-right: 50px;">
<h2 style="text-align: center;">Tip Us</h2>
<br>
<h3>Do you know something Blogpedia should investigate? Here’s how to get in touch.
</h3>
<p>Note: this is only for editorial tips. For advertising, technical support, and other inquiries, <%= link_to 'go here', contact_path %>.</p><br>
<p style="font-size: 15px;">
Some of our most important stories start with tips. We’re always looking for information about the companies and products that shape the way we live, insight into the government agencies responsible for public health and the environment, and other stories about the impact technology has on human beings. Evidence is key: firsthand experience or revealing documents will be more useful than a hunch. Have you encountered something that the public should know about? If so, we want to hear from you.</p>




<br><br>



</div>
</div>
</div>
</div>

