<div class="row" >
<div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">

<br><br>

<img src= "<%= @post.banner_image%>" alt="Image not found" onerror="this.onerror=null;this.src='https://images.pexels.com/photos/163114/mario-luigi-figures-funny-163114.jpeg?h=350&auto=compress&cs=tinysrgb';", class= 'img-rounded center',style = 'border: 2px solid black;' %>

<br><br>
<div class= "box" style="background: rgba(250, 250, 220, .4); width: 100%;">
<br>
<h3 style= 'color: white; text-align: center;'>
  <b>
  <%= @post.title.capitalize  %>
  </b>
</h3>
<br><br>
<div style="color: white; margin-left: 10px; margin-right: 10px; ">
 
  <%= @post.description.html_safe %>
</div>




<br>
<p style="text-align: center;">

<%= link_to 'Back', root_path ,class: 'btn btn-warning btn-lg'  %>
</p>
<br>

</div>
</div>
</div>