<div class="row" >
<div class="col-md-10 col-md-offset-1">

<br><br>

<%= image_tag @post.banner_image, class: 'img-rounded center',style: 'border: 2px solid black;' %>


<br><br>
<div class= "box" style="background: rgba(250, 250, 220, .4); width: 100%;">
<br>
<h3 style= 'color: white; text-align: center;'>
  <b>
  <%= @post.title.capitalize  %>
  </b>
</h3>
<br><br>
<div style="color: white; margin-left: 15px; margin-right: 15px;">
 
  <%= @post.description.html_safe %>
</div>





<br>
<p style="text-align: center;">

<%= link_to 'Back', root_path ,class: 'btn btn-warning btn-lg'  %>
</p>

</div>
</div>
</div>