
<div class="row">
<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
<div class="col-md-4">
    <div class="thumbnail">
      
        <%= image_tag post.banner_image, class: 'img-rounded'  %>
        <div class="caption">
         <h3><%= link_to post.title.capitalize, post %></h3>
        </div>
      
    </div>
  </div>
  <% end %>
  </div>

  <p style="text-align: center;">
  <%= link_to 'New', new_post_path, class: 'btn btn-success btn-lg' %>
  </p> 